1Password/
BraveSoftware/
Code - OSS/
QtProject.conf
Slack/
autostart/
azuredatastudio/
baloofileinformationrc
chromium/
dconf/
discord/
dolphinrc/
dunst/
expressvpn/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
kde.org/
kitty/
microsoft-edge-dev/
neofetch/
pavucontrol.ini
pulse/
session/
vivaldi-snapshot/
vivaldi/
wofi/
user-dirs.dirs
user-dirs.locale
tmux/
TabNine/
TabNine/*
/TabNine
